<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/student/student.css}" rel="stylesheet">
    <title>Sample_learning - アカウント設定</title>
</head>



<body>
	
	
		<div layout:fragment="content" class="text-center">
		<h1>アカウント設定</h1>
		
				<a class="nav-link" th:href="@{/student/account-detail}">アカウント情報</a>

		
				<a class="nav-link" th:href="@{/student/qualification-detail}">資格情報</a>

	
				<a class="nav-link" th:href="@{/student/jobsituation-detail}">就活状況</a>
				
			
				<a class="nav-link" th:href="@{/index}">/index</a>
			
				<a class="nav-link" th:href="@{/student/index}">/student/indexへ</a>
		
		</div>
</body>
</html>