<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">

<head>
	<meta charset="UTF-8">
	<!-- <link th:href="@{/css/student/student.css}" rel="stylesheet"> -->
	<title>Sample_learning</title>
</head>

<body>
	<div layout:fragment="content" class="text-center">
		<h1>実績確認ページ</h1>
		<div class="d-flex justify-content-center">

			<div class="alert alert-primary" role="alert">
				先月のテストの最高点数は100点<br>科目：Dockerについての確認テスト<br>
			</div>
			<div class="alert alert-primary" role="alert">
				先月のテストの平均順位は30.8位<br>先々月より20pointDOWN<br>
			</div>
			<div class="alert alert-primary" role="alert">
				先月のテストの最高点数は100点<br>科目：Dockerについての確認テスト<br>
			</div>
		</div>
		<div class="d-flex justify-content-center">

			<div class="alert alert-primary" role="alert">
				今月控えているテスト<br>科目：Gitについての確認テスト<br>科目：○○についての確認テスト<br>科目：○○についての確認テスト<br>科目：○○についての確認テスト<br>
			</div>
			<div class="alert alert-primary" role="alert">
				今月の目標<br>目標にしたくなる数値<br>終業後200時間勉強する<br>本を100冊読む<br>問題集を132冊買う
			</div>
			<div class="alert alert-primary" role="alert">
				色々指標になるなにか<br>項目：見たくなる数値とか<br>タスクの進捗率：31/100<br>直近のやる事：○○について理解する
			</div>
		</div>
		<p>-----------<br>-------------<br></p>
		<label>----------------------<input type="text" class="form-control" name="user_id"
				placeholder="xxxxxx"></label><br>

		<ul class="list-group">
			<li class="list-group-item list-group-item-primary text-center">行動履歴</li>
			<li class="list-group-item">テスト番号[23654]　正答率：100　解答：1　○</li>
			<li class="list-group-item">テスト番号[23654]　正答率：100　解答：1　○</li>
			<li class="list-group-item">動画番号[23654]　内容：</li>
			<li class="list-group-item">テスト番号[23654]　正答率：100　解答：1　○</li>
			<li class="list-group-item">テスト番号[23654]　正答率：100　解答：1　○</li>
			<li class="list-group-item">動画番号[23654]　</li>
			<li class="list-group-item"><a th:href="@{#}">＜＜前の動画</a>___<a th:href="@{#}">次の動画＞＞</a></li>
			<li class="list-group-item"><a th:href="@{/student/take-test}">テスト受験ページ</a></li>
		</ul>


		<a th:href="@{/student/index}">マイページへ</a><br><br><br><br>

	</div>


</body>

</html>