<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/student/student.css}" rel="stylesheet">
    <title>Sample_learning - 資格情報</title>
</head>
<body>
	<div layout:fragment="content" class="text-left">
		<h1>資格情報編集・登録</h1>
		<form th:action="@{/student/qualification-detail}" method="get">
			<div class="mb-3">		
				<label class="form-label">日付
				<input type="text" id="diary_day" class="form-control" placeholder="2022/11/15"></label>
			</div>
			
			<div class="mb-3">		
				<label class="form-label">保有資格</label>
				<input type="text" id="have_qualification" class="form-control" placeholder="ITパスポート、JAVAシルバー、AWSクラウドプラクティショナー">
			</div>
			
			
			<div class="mb-3">		
				<label class="form-label">取得予定資格</label>
				<input type="text" id="take_qualification" class="form-control" placeholder="ITパスポート、JAVAシルバー、AWSクラウドプラクティショナー">
			</div>
			<div class="mb-3">		
				<label class="form-label">その他</label>
				<textarea id="q2" class="form-control" rows="5"></textarea>
			</div>
				<button type="button" onclick="alert('☆登録しました☆')" class="btn btn-primary">登録</button><br><br><br><br>
		</form> 
	
	</div>
</body>
</html>