<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">

<head>
	<meta charset="UTF-8">
	<!-- <link th:href="@{/css/student/student.css}" rel="stylesheet"> -->
	<title>Sample_learning</title>
</head>

<body>
	<div layout:fragment="content" class="text-center">
		<main>
			<div class="split">
				<div class="split-item split-left">
					<div class="split-left__inner">
						<h1>動画検索ページ</h1>


						<h2>新着動画</h2>
						<iframe src="http://localhost:8080/student/dummy1" width="600" height="100">
						</iframe><br>
						<br>




					</div>
				</div>
			</div>

			<div>

				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="検索キーワード" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit"
						onclick="alert('検索結果がリスト表示！')">Search</button><br>

					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th scope="col">更新日</th>
								<th scope="col">タイトル</th>
								<th scope="col">内容</th>
								<th scope="col">再生時間</th>
								<th scope="col">再生数</th>
								<th scope="col">評価</th>
								<th scope="col">ブックマーク数</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<a class="nav-link" th:href="@{/student/index}">
									<th>1</th>
									<th scope="row">2022/11/15</th>
									<th scope="row">GitHub基礎</th>
									<th scope="row"><a class="nav-link"
											th:href="@{/student/watch-video}">GitHubのアカウント作成からclone,push,pull</a></th>
									<th scope="row">2h30m</th>
									<th scope="row">123</th>
									<th scope="row">7.8点</th>
									<th scope="row">30</th>
								</a>
							</tr>
							<tr>
								<th>2</th>
								<th scope="row">2022/11/15</th>
								<th scope="row">Docker基礎</th>
								<th scope="row"><a class="nav-link"
										th:href="@{/student/index}">Dockerhubのアカウント作成からinstallまで</a></th>
								<th scope="row">1h30m</th>
								<th scope="row">223</th>
								<th scope="row">6.8点</th>
								<th scope="row">10</th>

							</tr>
						</tbody>
					</table>
					<br><br><br>
		</main>
	</div>


</body>

</html>