<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">
<head>
    <meta charset="UTF-8">
    <!-- <link th:href="@{/css/student/student.css}" rel="stylesheet"> -->
    <title>Sample_learning</title>
</head>
<body>
		<div layout:fragment="content" class="text-center">
		<main>
		    <div class="split">
		        <div class="split-item split-left">
		            <div class="split-left__inner">
		                <h1>動画検索ページ</h1>
		                
										               
						  <h2>新着動画</h2>
						  <iframe src="##" width="600" height="100">
						  </iframe><br>
						  <br>
						  
						  
              
		                
		            </div>
		        </div>
		       </div>
		</main>    
	</div>
	

</body>
</html>