<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin_layout}">
<head>
    <meta charset="UTF-8">
<!--     <link th:href="@{/css/student/student.css}" rel="stylesheet"> -->
    <title>Sample_learning</title>
</head>
<body>
	<div layout:fragment="content" class="text-center">
		<main>
		    <div class="split">
		        <div class="split-item split-left">
		            <div class="split-left__inner">
		                <h1>生徒詳細</h1>
		                
		                <h3>○○さんの詳細ページ</h3>
		                <h3><a  th:href="@{/admin/student-profile}">プロフィール</a></h3>
		                  <h3><a  th:href="@{/admin/status}">受講状況一覧</a></h3>
		                <h3><a  th:href="@{/admin/jobsituation}">就職状況</a></h3>
		                <h3><a  th:href="@{/admin/report}">日報一覧</a></h3>
		                
		                
		              
					   <a class="btn btn-info" th:href="@{/admin/account-edit}">戻る</a></td>
					    <a class="btn btn-info" th:href="@{/admin/account-edit}">編集</a></td>
					   <a class="btn btn-info" th:href="@{/admin/delete-account}">削除</a></td>
					    
					       
		                </div>
		            </div>
		        </div>
	       </div>
		</main>    
	</div>
</body>
</html>