<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">
<head>
</head>
<body>
	<div layout:fragment="menu" class="bg-light">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation">
				<a class="nav-link" th:href="@{/student/diary-list}">日報一覧</a>
			</li>
			<li role="presentation">
				<a class="nav-link" th:href="@{/student/video-search}">動画検索</a>
			</li>
			<li role="presentation">
				<a class="nav-link" th:href="@{/student/test-list}">テスト一覧</a>
			</li>
			<li role="presentation">
				<a class="nav-link" th:href="@{/student/history}">実績確認</a>
			</li>
			<li role="presentation">
				<a class="nav-link" th:href="@{/student/account-menu}">アカウント設定</a>
			</li>
		</ul>
	</div>
</body>
</html>