<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <script>
        function previewImage(obj)
        {
            var fileReader = new FileReader();
            fileReader.onload = (function() {
                var canvas = document.getElementById('preview');
                var ctx = canvas.getContext('2d');
                var image = new Image();
                image.src = fileReader.result;
                image.onload = (function () {
                    canvas.width = image.width;
                    canvas.height = image.height;
                    ctx.drawImage(image, 0, 0);
                });
            });
            fileReader.readAsDataURL(obj.files[0]);
        }


        
        </script>


        
        

<main>


<h1>テスト作成フォーム</h1>

<p>
    Preview:<br>
    <canvas id="preview" style="max-width:200px;"></canvas>
    </p>
    




<form th:action="@{/login/success}" method="post">

    



    <label class="font-weight-bold">動画ファイル</label><br>
    <input type="file" class="form-control" name="user_pass" accept='image/*' onchange="previewImage(this);"><br>


    <label class="font-weight-bold">サムネイル</label><br>
    <input type="file" class="form-control" name="user_pass" placeholder="java_part1.png"><br>
    <label class="font-weight-bold">タイトル</label><br>
    <input type="text" class="form-control" name="user_pass" placeholder="java入門 PART1"><br>
 
    
   <label class="font-weight-bold">概要欄</label><br>
   <textarea name="text" id="" cols="30" rows="10"></textarea><br>
   <label id="sub1">
    <button type="submit" class="btn btn-success" name="__send" id="__send">登録</button>
   </label>
</form>

    
</main>

</body>
</html>