.collapse{margin-left: 70%;}

.user{
    height: 30px;
    width: auto;
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 50%; 
    border: 3px solid white;
    
}

.sidebar{
	position: fixed;
	display:block;
	top: 58px;
	bottom: 0;
	left: 0;
}
.main{
	position:fixed;
	display:block;
	top:58px;
	bottom:0;
	padding-left:20px;
	overflow-y: auto;
	height:calc(100vh - 58px);
}
/**.footer{
	position:absolute;
	bottom: 0;
	width:100%;
}*/

/** フッターかぶるので一旦お試しコピペ下記 問題なさげだけど変わってない説あり*/

* {
  box-sizing: border-box;
}
 
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
 
body {
  display: flex;
  flex-direction: column;
}
 
footer {
  margin-top: auto;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}



