<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!--  選択したファイルのプレビューを描画-->
 

<main>


<h1>テスト作成フォーム</h1>

<button id="add">　＋　</button>
<form th:action="@{/login}" method="post">
        
        
        <div id="target">
            <div>
                <hr>
                <input type="text"><br>
                <br>
                <textarea name="" id="" cols="100" rows="5"></textarea><br>
                <input type="file">
                <h5>選択肢</h5>
                <input type="checkbox"><input type="text">
                <input type="checkbox"><input type="text">
                <input type="checkbox"><input type="text">
                <input type="checkbox"><input type="text">

                <h5>回答</h5>
                <input type="text">

                <!-- <input type="text"> -->
                <hr>
                
            </div>
        </div>
        </form>
        <script type="text/javascript">
            // 要素をコピー＆追加する関数
            function addExample() {
                let elements = document.getElementById("target");
                let copied = elements.lastElementChild.cloneNode(true);
                elements.appendChild(copied);
            }
            
            // ボタンにイベントハンドラをセット
            const btn = document.getElementById("add");
            btn.addEventListener("click", addExample, false);
            
        </script>


</main>
</body>
</html>