<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!--  選択したファイルのプレビューを描画-->
 

<main>



<h1>テスト作成確認画面</h1>
                <hr>
                <table>

                <tr>
                   <th>問題１</th>
                </tr>
                <tr>
                   <th>次のうちコンパイルエラーが起きるものはどれか。2つ選べ。</th>
                </tr>
                <tr>
                   <th>1.char str = “a”;</th>
                </tr>
                <tr>
                   <th>2.char c = ‘c’;</th>
                </tr>
                <tr>
                   <th>3.char c = ‘\uabcd’;</th>
                </tr>
                <tr><th></th></tr>
                <tr>
                   <th>4.char a = ‘xyz’;</th>
                </tr>
                
                <tr>

                    <th>回答</th>
                </tr>
                <tr>
                <th>char str = “a”; , char a = ‘xyz’;</th>
                </tr>
                </table>
                <!-- <input type="text"> -->
                <hr>


    

    
<form action="" >
<button  class="btn btn-success" name="__send" id="__send">戻る</button>
<button type="submit" class="btn btn-success" name="__send" id="__send">登録</button>
</form>



</main>
</body>
</html>