<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/trainer_layout}">
<head>
    <meta charset="UTF-8">
<!--     <link th:href="@{/css/student/student.css}" rel="stylesheet"> -->
    <title>Sample_learning</title>
</head>
<body>
	<div layout:fragment="content" >
		<main>
		    <div class="split">
		        <div class="split-item split-left">
		            <div class="split-left__inner">
		                <h1>講師用マイページ</h1>
		                
										               
						 <button id="add">　＋　</button>
							<form th:action="@{/trainer/create-test-confirm}" method="post">      
						        <div id="target">
						            <div>
						                <hr>
						                <input type="text" placeholder="問題１"><br>
						                <br>
						                <textarea name="" id="" cols="100" rows="2"placeholder="次のうちコンパイルエラーが起きるものはどれか。2つ選べ。"></textarea><br>
						                <input type="file">
						                <h5>選択肢</h5>
						                <input type="checkbox"><input type="text" placeholder="char str = “a”;">
						                <input type="checkbox"><input type="text" placeholder="char c = ‘c’;">
						                <input type="checkbox"><input type="text" placeholder="char c = ‘\uabcd’;">
						                <input type="checkbox"><input type="text" placeholder="char a = ‘xyz’;">
						
						                <h5>回答</h5>
						                <input type="text" placeholder="char str = “a”; , char a = ‘xyz’;">
					                </div>
				                </div>
						
						
						                <!-- <input type="text"> -->
						                <hr>
						                	<label id="sub">
								    <button type="submit" class="btn btn-success" name="__send" id="__send">登録</button>
										</label>
							</form>
			
            </div>
        </div>
        
        <script type="text/javascript">
            // 要素をコピー＆追加する関数
            function addExample() {
                let elements = document.getElementById("target");
                let copied = elements.lastElementChild.cloneNode(true);
                elements.appendChild(copied);
            }
            
            // ボタンにイベントハンドラをセット
            const btn = document.getElementById("add");
            btn.addEventListener("click", addExample, false);
            
        </script>
    
				 
						  
						  
              
		                
		            </div>
		        </div>
		       </div>
		</main>    
	</div>
</body>
</html>