<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/student_layout}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/student/student.css}" rel="stylesheet">
    <title>Sample_learning</title>
</head>
<body>
	<div class="container">    
    <table class="table">
        
      
        <tbody>
           
         <tr>
            <th style="width:20%;"scope="row">名前</th>
            <td style="width:20%;">山田太郎</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">コース名</th>
            <td>〇〇Python</td>
            <td></td>
        <tr>
        </tr>
            <th scope="row">入校日</th>
            <td>y/m/d</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">修了予定日</th>
            <td>y/m/d</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">受給者資格</th>
            <td>あり</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">資格</th>
            <td>ITパスポート</td>
            <td>y/m/d取得</td>
        </tr>
        <tr>
            <th scope="row">職歴</th>
            <td>〇〇〇〇</td>
            <td></td>
            </tr>
            <tr>
            <th></th>
            <td>〇〇〇〇</td>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td>〇〇〇〇</td>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td>〇〇〇〇</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">就職状況</th>
            <td>△△△△</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">応募書類作成状況</th>
            <td>履歴書</td>
            <td>作成中</td>
        </tr>
        <tr>

            <th scope="row"></th>
            <td>職務経歴書</td>
            <td>作成済み</td>

        </tr>
        
        </tbody>
    </table>
    <button>戻る</button>
</div>
</body>
</html>