<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/trainer_layout}">
<head>
    <meta charset="UTF-8">
     <link th:href="@{/css/trainer/trainer.css}" rel="stylesheet">
<!--     <link th:href="@{/css/student/student.css}" rel="stylesheet"> -->
    <title>Sample_learning</title>
</head>
<body>
	<div layout:fragment="content" class="text-center">
		<main>
		    <div class="split">
		        <div class="split-item split-left">
		            <div class="split-left__inner">
		                <h1>日報詳細</h1>
		                <div class="report_table" >
						 <table class="table table-bordered">
					   
					        <tbody>
					           
					         <tr>
					            <th style="width:100px;"scope="row">日付</th>
					            <td style="width:200px;">y/m/d</td>
					            
					        </tr>
					        <tr>
					            <th scope="row">名前</th>
					            <td>山田太郎</td>
					            
					        
					        </tr>
					        <tr>
					            <th scope="row">講義内容</th>
					            <td>Python</td>
					            
					        </tr>
					        <tr>
					            <th scope="row">振り返り</th>
					            <td>xxxxxxxxx</td>
					            
					        </tr>
					        
					        <tr>
					            <th scope="row">質問</th>
					            <td>xxxxxxxx?</td>
					            
					        </tr>
					         <tr>
					            <th scope="row">返信</th>
					            <td></td>
					            
					        </tr>
					        
					        
					        </tbody>
					    </table>
					    <form th:action="@{/trainer/success}" method="post">
					   		<textarea rows="4" cols="105"></textarea><br>
					   		<a class="btn btn-secondary" th:href="@{/trainer/report-all}">戻る</a>
					   		<button type="submit" class="btn btn-success"　formaction="@{/trainer/update">編集</button>
					   		<button type="submit" class="btn btn-success">返信</button>
					   		
					   	
					   	</form>
					   	 
					     
						  
						</div>  
              			
		                
		            </div>
		        </div>
		       </div>
		</main>    
	</div>
</body>
</html>