<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/trainer_layout}">
<head>
    <meta charset="UTF-8">
<!--     <link th:href="@{/css/student/student.css}" rel="stylesheet"> -->
    <title>Sample_learning</title>
</head>
<body>
	<div layout:fragment="content" class="text-center">
		<main>
		    <div class="split">
		        <div class="split-item split-left">
		            <div class="split-left__inner">
		                <h1>生徒詳細</h1>
		                <hr>
		                
		                <h3>○○さんの詳細ページ</h3>
		                <br>
		                <h3><a  th:href="@{/trainer/student-profile}">プロフィール</a></h3><br>
		                <h3><a  th:href="@{/trainer/content-status}">受講状況一覧</a></h3><br>
		                <h3><a  th:href="@{/trainer/jobsituation}">就職状況</a></h3><br>
		                <h3><a  th:href="@{/trainer/report-list}">日報一覧</a></h3><br>
		                
		                
		              
			
					       
		                </div>
		            </div>
		        </div>
	       </div>
		</main>    
	</div>
</body>
</html>