<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/trainer_layout}">
<head>
    <meta charset="UTF-8">
<!--     <link th:href="@{/css/student/student.css}" rel="stylesheet"> -->
    <title>Sample_learning</title>
</head>
<body>
	<div layout:fragment="content" class="text-center">
		<main>
		    <div class="split">
		        <div class="split-item split-left">
		            <div class="split-left__inner">
		                <h1>テスト一覧</h1>
		                
		                
		                
		             
										               
						  <h5>新着情報</h5>
						  <iframe src="news.html" width="600" height="100">
						  </iframe><br>
						  <br>
						  <input type="text" placeholder="Java"><button>検索</button>
						    <a class="btn btn-secondary" th:href="@{/trainer/test-form}">テスト作成フォーム</a>
						 <table class="table">
				        <thead>
				          <tr>
				            <th scope="col">▼</th>
				            <th scope="col">タイトル</th>
				            <th scope="col">言語</th>
				            <th scope="col">作成日</th>
				            <th scope="col">備考</th>
				            <th scope="col">作成者</th>
				             <th scope="col"></th>
				          
				          </tr>
				        </thead>
				        <tbody>
				          
				         　
				         <tr>
				            <th scope="row">１</th>
				            <td>C言語基礎テスト</td>
				            <td>C</td>
				            <td>y/m/d</td>
				            <td></td>
				            <td></td>
				            <td> <a class="btn btn-info" th:href="@{/trainer/test-detail}">編集</a></td>
				            <td> <a class="btn btn-info" th:href="@{/trainer/delete}">削除</a></td>
				          </tr>
				            
				           
				          <tr>
				            <th scope="row">3</th>
				            <td>C言語応用テスト</td>
				            <td>C</td>
				            <td>y/m/d</td>
				            <td></td>
				            <td></td>
				            <td> <a class="btn btn-info" th:href="@{/trainer/test-detail}">編集</a></td>
				            <td> <a class="btn btn-info" th:href="@{/trainer/delete}">削除</a></td>
				          </tr>
				            
				           
				         
				        </tbody>
				      </table>
					  <a class="btn btn-secondary" th:href="@{/trainer/index}">戻る</a>
						  
              
		                
		            </div>
		        </div>
		       </div>
		</main>    
	</div>
</body>
</html>