<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/trainer_layout}">
<head>
    <meta charset="UTF-8">
<!--     <link th:href="@{/css/student/student.css}" rel="stylesheet"> -->
    <title>Sample_learning</title>
</head>
<body>
	<div layout:fragment="content" class="text-center">
		<main>
		    <div class="split">
		        <div class="split-item split-left">
		            <div class="split-left__inner">
		                <h1>アカウント設定</h1>
		                
		                
		                <form th:action="@{/trainer/success}" method="post">
				        	<div class="form-group">
				        	
				        		<table class="table">
					        
					      
							        <tbody>
							           
								         <tr>
								            <th style="width:20%;"scope="row">講師名</th>
								            <td><input type="text" name="user_name" placeholder="山田太郎"></td>
								            <td style="width:20%;"></td>
								            <td></td>
								        </tr>
								        <tr>
								            <th scope="row">ユーザーID</th>
								            <td><input type="text" name="user_id" placeholder="xxxxxxx"></td>
								            <td></td>
								     	</tr>
							     	</tbody>
							    </table>
					            <button type="submit" class="btn btn-primary">更新</button>
				            </div>
				        </form>
		                
		                
					        
						  
     
		            </div>
		        </div>
		       </div>
		</main>    
	</div>
</body>
</html>