h1,h2{
    
    margin-top: 5%;
}



.collapse{margin-left: 70%;}

img {
    border-radius: 50%; 
    border: 3px solid white;

}
.user{
    height: 30px;
    width: auto;
    margin-top: 8px;
    margin-left: 5px;
    
}
/* main{height: 100%;} */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.split{
    display: table;
    width: 100%;
    
}
.split-item{
    display: table-cell;
    padding: 80px;
    width: 50%;
    

}
.split-left{
    background: #000;
    color: #fff;
    position: relative;
    
}
.split-left__inner{
    height: 100%;
    position: fixed;
    width: 50%;
}
.split-right__inner{
    
    height: 350px;
}