h1{
    text-align: center;
    margin-top: 10%;
}
form{
    text-align: center;
    
}

.collapse{margin-left: 70%;}

img {
    border-radius: 50%; 
    border: 3px solid white;

}
.user{
    height: 30px;
    width: auto;
    margin-top: 8px;
    margin-left: 5px;
    
}