/*input,select{
    width: 300px;
}*/

.collapse{margin-left: 70%;}

img {
    border-radius: 50%; 
    border: 3px solid white;

}
.user{
    height: 30px;
    width: auto;
    margin-top: 8px;
    margin-left: 5px;
    
}

/*.postal_code,.certification{
    width: 250px;
}*/
