@charset "UTF-8";

h1,h2{
    
    margin-top: 5%;
    text-align:center;
    
    
}



.test_table{
	width:40%;
	text-align:center;
}



.box{
	
	display:flex;
	
}
.edit{text-align:center;}

.report_table{
	width:800px;
	margin-left:25%;
	
}

.test_update{
	width:400px;
}

.lang_icon{
	width:300px;
	height:300px;
	border: solid 5px #777777; 
	
	
}

